@model Product


<form method="post">
    <div class="pt-3 mt-5 ">
        <div class="row pb-2">
            <h3 class="text-uppercase text-secondary p-0">Delete&nbsp Product</h3>
            <hr />
        </div>

        <div class="form-group row ">
            <label asp-for="Name" class="form-label p-0"> </label>
            <input asp-for="Name" disabled class="form-control" placeholder="Category Name" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="form-group row">
            <label asp-for="Description" class="form-label mt-4 p-0"></label>
            <input asp-for="Description" disabled class="form-control" placeholder="Description" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

        <div class="form-group row">
            <label asp-for="Manufacturer" class="form-label mt-4 p-0"></label>
            <input asp-for="Manufacturer" disabled class="form-control" placeholder="Manufacturer" />
            <span asp-validation-for="Manufacturer" class="text-danger"></span>
        </div>

        <div class="form-group row">
            <label asp-for="Price" class="form-label mt-4 p-0"></label>
            <input asp-for="Price" disabled class="form-control" placeholder="Price" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>


        <div class="row mt-4">
            <div class="col-6 col-md-3 ">
                <button type="submit" class="btn btn-outline-primary form-control ">Delete</button>
            </div>

            <div class="col-6 col-md-3">
                <a asp-controller="Product" asp-action="Index" class="btn btn-outline-light form-control ">Back To List</a>
            </div>
        </div>

    </div>
</form>


@* script tag to add client side validation *@
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
